
.about {
    background-image: url('../../public/img/foto1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    display: flex;
    margin: 0;
    top:0; 
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position:absolute;  
}
.about-container{
    color:#fff;
    position: absolute; left: 50px; top: 120px; z-index: 2; 
    position:fixed; 
}