.skill-container {
  top:0; 
  height: 100vh;
  width: 100%;
  background-color: #242424;
}

.item{
  min-height:20rem;
  min-width:20rem;
  padding:60px;
}

.item img{ 
  width:100%;
  height:100%;
  pointer-events: none;

}

.inner-carrusel{
  display:flex; 
  background:white; 
}

.carrusel{
  cursor: grab; 
  overflow: hidden;
  background:red; 
}