.galeria-container{
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
    background-color: #140123;
}




@media only screen and (max-width:880px){
    .galeria-container{
        display:none; 
    }
}
